Build
Build.bat
MANIFEST
MANIFEST.bak
META.*
MYMETA.*
Makefile
Makefile.old
_build/
blib/
inc/
DBIO-*/
DBIO-*.tar.*
pm_to_blib
t/var/
.*.sw?
*#
.#*
*~
maint/.Generated_Pod
examples/Schema/db
cover_db/
